#flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#flex div{
    width: 300px;
    height: 300px;
    background-color: pink;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
}

#h2{
    border-style: dashed;
    border-color: gray;
    margin: 10px;
    background-color: wheat;
    width: 150px;
    transition: width 3s;
    align-content: center;



    /*CSS Animations */
   
    animation-name: multiplecolors;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes colorswitch{
    from {background-color: rgb(255, 192, 203);}
    to {backgorund-color: rgb(250 146, 205);}
}

@keyframes multiplecolors{
    0% {background-color: rgb(255, 192, 203);}
    25% {background-color: rgb(255, 192, 204);}
    50% {background-color: rgb(244, 146, 163);}
    75% {background-color: rgb(244, 146, 164);}
    100% {background-color: rgb(250, 146, 205);}
}



h2:hover{
    width: 200px;
}

#container{
    display: flex;
    flex-direction: row;
}

img {
    width: 200px;
    height: 200px;
    transition: width 3s;
}
img:hover{
    width: 250px;
    height: 250px;
}
